# OS metadata
.DS_Store
Thumbs.db

# Dependencies (if any)
node_modules/

# Audio Files (High Storage - DO NOT PUSH)
*.mp3
*.wav
*.m4a
*.aac
*.ogg

# Data (Include JSONs, exclude rest)
data/*
!data/timestamp/
!data/timestamp/*.json
