# Dependencies
node_modules/

# OS metadata
.DS_Store
Thumbs.db

# Project-specific data (Large files excluded, JSONs included)
data/
!data/timestamp/
!data/timestamp/*.json
*.mp3
*.wav
*.m4a

# Build files
dist/
build/
*.exe
*.dmg
*.AppImage

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log
